* {
    margin: 0;
    padding: 0;
}
.col-2 {
    padding: 0;
}
.background-header {
    background-image: url("/assets/img/1.png");
    height: 100%;
    width: auto;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}

.slider-section {
    background-image: url("/assets/img/slider\ \(1\).png");
    background-size: contain;
    background-position: left;

}
.top-img {
    width: 63px;
    height: 32px;
    padding-top: 36px;
    padding-left: 135px;
    line-height: 24px;
}
.header-icon-top {
    padding-top: 40px;
    font-size: 24px;
    line-height: 24px;
    color: #000;
}
.icon-list {
    width: 24px;
    height: 24px;
    padding-left: 40px;
}
.section-header {
    padding-left: 135px;
    padding-top: 108px;
}
.section-header-title {
    line-height: 75px;
    font-size: 80px;
    letter-spacing: -2.4px;
    font-weight: bold;
    font-family: 'DM Sans', sans-serif;
}
.section-header-des {
    font-size: 18px;
    line-height: 1.56;
    text-align: left;
    width: 470px;
    height: 56px;
    margin-top: 16px;
    margin-bottom: 16px;
}
.section-header-btn-buy {
    background-color: #fff;
    padding-top: 13px;
    padding-bottom: 11px;
    width: 294px;
    height: 48px;
    text-align: center;
}
.btn-buy-text {
    font-size: 16px;
    line-height: 1.6px;
    margin-bottom: 16px;
    margin-top: 16px;
}
.section-header-quantiki {
    width: 294px;
    height: 18px;
    margin-top: 40px;
    line-height: 1.5;
}
.section-header-quantiki img {
    width: 60px;
    height: 18px;
    object-fit: contain;
}
.quantiki-review-count {
    font-size: 14px;
    line-height: 1.29;   
    text-align: left; 
}
.section-header-days {
    padding-bottom: 140px;
}
.icon-dollar {
    font-size: 14px;
    color: #333;
}
.days-money-back {
    font-size: 14px;
    padding-right: 8px;
}

.header-eclipse-money {
    padding-right: 135px;
    padding-top: 95px;
}

.eclipses {
    width: 80px;
    height: 80px;
    border: 1px solid rgba(255, 212, 191, 1);
    background-color: rgba(255, 212, 191, 1);
    border-radius: 50px;
}

.eclips-opacity {
    background-color: rgb(255 255 255);
    width: 60px;
    height: 60px;
    border: 1px solid rgb(255 255 255);
    border-radius: 30px;
    text-align: center;
    margin: 9px 9.5px;
    padding: 18px 16px;
}

.eclips-opacity-text {
    font-size: 16px;
    line-height: 22px;
}


.slider-section-config {
    padding-bottom: 80px;
}

.slider-header {
    padding-top: 80px;
    padding-left: 140px;
}

.slider-header-content {
    font-size: 40px;
    font-weight: bold;
}

.slide-content {
    padding-left: 168px;
    
}

.slide-content-img {
    margin-top: 42px;
}

.slide-content-img > img  {
    width: 20px;
    height: 28px;
}

.icon-quote {
    padding-top: 323px;
}

.icon-quote-display {
    width: 48px;
    height: 48px;
    font-size: 24px;
}

.quote-content {
    margin-top: 50px;
}

.quote-content-text {
    width: 470px;
    height: 168px;
    font-size: 18px;
    margin-top: 16px;
    margin-bottom: 28px;
    text-align: left;
    line-height: 1.56;
    font-family: DM Sans;
}

.content-author {
    font-size: 18px;
    font-weight: bold;
}

.content-count-star {
    padding-left: 120px;
    margin-top: -46px;
}

.sub-content-authors {
    color: #9a9a9a;
    font-size: 16px;
}

.btn-slide {
    text-align: center;
    font-size: 10px;
    color: #ccc;
    letter-spacing: 8px;
}

.section-featue {
    padding-top: 100px;
}

.mySwiper .swiper-button-next {
    color: #000;
}

.mySwiper .swiper-button-prev {
    color: #000;
}

div.swiper-pagination > span.swiper-pagination-bullet-active {
    background: #000;
}

div.swiper-pagination {
    margin-bottom: 20px;
}

/* SECTION STEP */

.section-step {
    padding-top: 40px;
    padding-bottom: 0px;

}

.step-header-content {
    font-size: 40px;
    font-weight: bold;
    padding-left: 135px;
}

.step-content-one {
    background-color: #f5f5f5;
}
.step-content-two {
    background-color: #1a1a1a;
}
.step-content-three {
    background-color: #5d8bb3;
}
.step-content-img {
    padding: 40px 145px 30px 40px;
}

.step-content-img img {
    width: 440px;
    height: 360px;
}
.step-text {
    padding-top: 100px;
    padding-bottom: 40px;
}
.step-content-number > p {
    font-size: 24px;
    line-height: 24px;
    width: 24px;
    height: 24px;
    font-family: 'DM SANS';
    letter-spacing: 0;
    color: #5a5a5a;
    padding: 0 0 20px 0;
}
.step-content-header {
    font-size: 30px;
    font-weight: bold;
    line-height: 18px;
    padding-top: 18px;
    padding-bottom: 18px;
}
.step-content-des {
    width: 500px;
    height: 96px;
    text-align: left;
    line-height: 1.5;
    color: #5a5a5a;
    font-family: 'DM SANS';
}

.two {
    color: #ffffff;
    font-family: 'DM SANS';
    padding-left: 135px;
}
.img-two {
    padding-right: 35px;
    margin-left: 120px;
}
.three {
    color:#ffffff;
    
}
.text-three {
    opacity: 0.7;
}


/* payment section */
.section-payment {
    padding-top: 100px;
}
.product {
    
}
.product-list {
    padding-left: 135px;
    padding-bottom: 100px;
}
.product-img img {
    width: 470px;
    height: 668px;
}
.product-des {
    /* font-family: "DMS SANS-Regular"; */
    margin-left: 30px;
    
}
.product-des-name {
    font-weight: bold;
    font-size: 32px;
    letter-spacing: normal;
    line-height: 15px;
    color: #1a1a1a;
}
.sub-name-des {
    font-size: 16px;
    color: #9a9a9a;
    margin-bottom: 10px;
    line-height: 24px;
}
.product-des-price {
    font-size: 24px;
    font-weight: bold;
    line-height: 14px;
}
.product-price-discount {
    font-size: 18px;
    color: #9a9a9a;
    margin-left: 58px;
    margin-top: -34px;
    text-decoration: line-through;
}
.afterpay-text {
    color: #9a9a9a;
    margin-top: -24px;
    padding-left: 100px;
    font-size: 18px;
}
.option-color {
    
}
.option-color-text {
    font-size: 18px;
    color: #9a9a9a;
    padding-top: 40px;
}
.option-color-icon {
    font-size: 32px;
    margin-top: -10px;
}

.product-size {
    font-size: 19px;
    color: #9a9a9a;
    line-height: 60px;
    font-family: "DMS SANS-Regular";
}
.product-sizechart {
    padding-left: 390px;
    margin-top: -75px;
}
.size-selection {
    padding-top: 30px;
    opacity: 0.5;
    margin-top: -45px;
}
#select-btn {
    width: 470px;
    height: 59px;
    opacity: 0.9;
    font-size: 16px;
}
.count-product {
    padding-top: 20px;
}
.btn-count {
    padding-left: 110px;
}
.btn-count-product {
    border: none;
    background-color: #fff;
    font-size: 24px;
    opacity: 0.6;
}

#count-number {
    text-align: center;
    border: none;
    opacity: 0.8;
}
.buy-it-now {
    padding-top: 20px;
}
.btn-buy-now {
    font-size: 16px;
    width: 467px;
    height: 48px;
    background-color: #ffbe9e;
}
.method-pay {
    width: 467px;
    height: 48px;
    text-align: center;
    padding-top: 20px;
}
.sub-payment {
    font-size: 16px;
    line-height: 24px;
    padding-top: 20px;
    color: #5a5a5a;
    width: 469px;
}
.icon-payment-star {
    font-size: 12px;
    color: #1a1a1a;
}
.reviewer-ico-star {
    padding-top: 40px;
    margin-top: -61px;
    padding-left: 100px;
    color: #5a5a5a;
    font-size: 16px;
    font-weight: 500;
}

.about-content {
    padding-left: 135px; 
    padding-right: 135px;
}
.text-about-step > .about-step {
    font-size: 14px;
    line-height: 24px;
    color: #5a5a5a;
    width: 225px;
    height: 50px;
}
.text-about-step > h3 {
    font-size: 22px;
    line-height: 32px;
    color: #5d8bb3;
}
.section-about {
    background-color: rgba(93, 139, 179, 0.1);
    padding-bottom: 40px;
}
.arrow-step {
    text-align: center;
    padding-top: 48px;
    width: 80px;
    height: 16px;
}
.arrow-step-up {
    padding-top: 62px;
}
.text-about-step > .about-step-number {
    border: 1px solid #5d8bb3;
    width: 48px;
    height: 48px;
    text-align: center;
    border-style: dashed;
    padding-top: 12px;
}

.section-gift {
    background-image: url("/assets/img/Rectangle\ 22.png");
    height: 100%;
    width: auto;
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 104px;
}
.gift-header {
    font-size: 64px;
    width: 398px;
    height: 160px;
    letter-spacing: -1.9;
    color: #ffffff;
}
.gift-des {
    font-size: 24px;
    line-height: 32px;
    color: #ffffff;
}
.gift-buy {
    padding-left: 135px;
}
.section-ask {
    padding-top: 100px;
}
.any-question {
    padding-left: 135px;
    padding-right: 135px;
    text-align: center;
}
.question-about-us {
    padding: 15px 45px 10px 10px;
}
.question-collapsible {
    background-color: #ffffff;
    color: #000;
    cursor: pointer;
    padding: 40px;
    width: 100%;
    border: 1px solid #cfcfcf;
    text-align: left;
    outline: none;
    font-size: 15px;
    
}
.active {
    color: #ffffff;
    border: none;
}
.active, .question-collapsible:hover {
    background-color: #5d8bb3;
}
.content-question {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #5d8bb3;
    color: #ffffff;
}
.section-follow {
    padding-left: 144px;
    padding-right: 124px;
    padding-top: 40px;
    padding-bottom: 80px;
}
.food-review {
    width: 270px;
    height: 270px;
}
.food-review-follow {
    border: 12px solid rgba(93, 139, 179, 0.2);
    width: 270px;
    height: 270px;
}
.food-review-follow > p {
    padding-top: 68px;
    padding-bottom: 68px;
    font-size: 40px;
    color: #1a1a1a;
    margin-bottom: 0;
    text-align: center;
}
.food-review > img {
    width: 270px;
    height: 270px;
}

.about-customer  {
    text-align: center;
}
.customer-review {
    width: 600px;
    text-align: center;
    line-height: 1.56;
    font-size: 16px;
    margin-left: 350px;
    margin-top: 30px;
}
.name-customer {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0;
}
.our-customer {
    font-size: 14px;
    color: #5a5a5a;
    margin-top: -15px;
    padding-bottom: 70px;
}
.swiperCustomer > .swiper-button-next {
    background-image: url("/assets/img/swiperBtn/664866.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
}
.swiperCustomer > .swiper-button-prev {
    background-image: url("/assets/img/swiperBtn/left-arrow.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
}
.swiperCustomer > .swiper-button-next::after {
    display: none;
}
.swiperCustomer > .swiper-button-prev::after {
    display: none;
}

.section-partner {
    padding-top: 20px;
    padding-left: 135px;
    background-color: #eff3f7;
    padding-bottom: 20px;
}
.header-partner {
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 0;
    color: #1a1a1a;
    padding-top: 145px;
}
.partner-review {
    font-size: 16px;
    text-align: left;
    width: 500px;
    height: 96px;
    color: #5a5a5a;
}
.img-fedex, .img-coca,.img-google, 
.img-amazone
{
    padding-top: 20px;
}
.img-fedex {
    width: 300px;
}
.img-fedex > img {
    width: 300px;
    height: 140px;
}
.img-coca > img {
    height: 140px;
}
.img-coca, .img-google > img {
    width: 140px;
    height: 140px;
}
.img-amazone > img {
    height: 140px;
    width: 300px;
}
.img-amazone {
    padding-right: 104px;
}

.img-ebay, .img-mcdoland, .img-deli {
    padding-top: 20px;
    padding-bottom: 20px;
}
.img-ebay > img, .img-mcdoland > img, .img-deli > img {
    width: 140px;
    height: 140px;
}
.img-ebay {

}
.img-mcdoland {
    padding-right: 104px;
    margin-left: -5px;
}
.section-footer {
    padding: 0 12px;
}
.section-benefit {
    text-align: center;
    padding-bottom: 80px;
}
.benefit-bor {
    padding: 40px;
    border: 1px solid #cfcfcf;
    padding: 80px;
}
.img-easy-use > img {
    width: 150px;
    height: 150px;
}
.benefit-text {
    color: #5a5a5a;
    font-size: 18px;
    font-weight: bold;
}
.footer-end {
    padding-left: 135px;
    padding-right: 135px;
}
.footer-img > img {
    width: 64px;
    height: 33px;
}
.sub-footer-img {
    font-size: 14px;
    color: #5a5a5a;
    line-height: 28px;
    width: 460px;
    height: 46px;
    padding-top: 20px;
    padding-bottom: 40px;
}
.footer-buy {
    padding-top: 40px;
    padding-bottom: 150px;
}
.footer-buy-discount {
    width: 290px;
    height: 38px;
}
.footer-social {
    float: right;
}
.link-social {
    padding: 0 20px;
}
.sub-footer {
    display: inline-block;
}
.footer-service {
    float: left;
    text-align: center;
    padding-top: 50px;
}
.policy {
    padding-left: 125px;
}