* {
    margin: 0;
    padding: 0;
}
.col-2 {
    padding: 0;
}
.background-header {
    background-image: url("/assets/img/1.png");
    height: 100%;
    width: auto;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}

.slider-section {
    background-image: url("/assets/img/slider\ \(1\).png");
    background-size: contain;
    background-position: left;

}

.top-img {
    width: 63px;
    height: 32px;
    padding-top: 36px;
    padding-left: 135px;
    line-height: 24px;
}
.header-icon-top {
    padding-top: 40px;
    font-size: 24px;
    line-height: 24px;
    color: #000;
}
.icon-list {
    width: 24px;
    height: 24px;
    padding-left: 40px;
}
.section-header {
    padding-left: 135px;
    padding-top: 108px;
}
.section-header-title {
    line-height: 75px;
    font-size: 80px;
    letter-spacing: -2.4px;
    font-weight: bold;
    font-family: 'DM Sans', sans-serif;
}
.section-header-des {
    font-size: 18px;
    line-height: 1.56;
    text-align: left;
    width: 470px;
    height: 56px;
    margin-top: 16px;
    margin-bottom: 16px;
}
.section-header-btn-buy {
    background-color: #fff;
    padding-top: 13px;
    padding-bottom: 11px;
    width: 294px;
    height: 48px;
    text-align: center;
}
.btn-buy-text {
    font-size: 16px;
    line-height: 1.6px;
    margin-bottom: 16px;
    margin-top: 16px;
}
.section-header-quantiki {
    width: 294px;
    height: 18px;
    margin-top: 40px;
    line-height: 1.5;
}
.section-header-quantiki img {
    width: 60px;
    height: 18px;
    object-fit: contain;
}
.quantiki-review-count {
    font-size: 14px;
    line-height: 1.29;   
    text-align: left; 
}
.section-header-days {
    padding-bottom: 140px;
}
.icon-dollar {
    font-size: 14px;
    color: #333;
}
.days-money-back {
    font-size: 14px;
    padding-right: 8px;
}

.header-eclipse-money {
    padding-right: 135px;
    padding-top: 95px;
}

.eclipses {
    width: 80px;
    height: 80px;
    border: 1px solid rgba(255, 212, 191, 1);
    background-color: rgba(255, 212, 191, 1);
    border-radius: 50px;
}

.eclips-opacity {
    background-color: rgb(255 255 255);
    width: 60px;
    height: 60px;
    border: 1px solid rgb(255 255 255);
    border-radius: 30px;
    text-align: center;
    margin: 9px 9.5px;
    padding: 18px 16px;
}

.eclips-opacity-text {
    font-size: 16px;
    line-height: 22px;
}


.slider-section-config {
    padding-bottom: 80px;
}

.slider-header {
    padding-top: 80px;
    padding-left: 140px;
}

.slider-header-content {
    font-size: 40px;
    font-weight: bold;
}

.slide-content {
    padding-left: 168px;
    
}

.slide-content-img {
    margin-top: 42px;
}

.slide-content-img > img  {
    width: 20px;
    height: 28px;
}

.icon-quote {
    padding-top: 323px;
}

.icon-quote-display {
    width: 48px;
    height: 48px;
    font-size: 24px;
}

.quote-content {
    margin-top: 50px;
}

.quote-content-text {
    width: 470px;
    height: 168px;
    font-size: 18px;
    margin-top: 16px;
    margin-bottom: 28px;
    text-align: left;
    line-height: 1.56;
    font-family: DM Sans;
}

.content-author {
    font-size: 18px;
    font-weight: bold;
}

.content-count-star {
    padding-left: 120px;
    margin-top: -46px;
}

.sub-content-authors {
    color: #9a9a9a;
    font-size: 16px;
}

.btn-slide {
    text-align: center;
    font-size: 10px;
    color: #ccc;
    letter-spacing: 8px;
}

.section-featue {
    padding-top: 100px;
}

.mySwiper .swiper-button-next {
    color: #000;
}

.mySwiper .swiper-button-prev {
    color: #000;
}

div.swiper-pagination > span.swiper-pagination-bullet-active {
    background: #000;
}

div.swiper-pagination {
    margin-bottom: 20px;
}

/* SECTION STEP */

.section-step {
    padding-top: 40px;
    padding-bottom: 0px;

}

.step-header-content {
    font-size: 40px;
    font-weight: bold;
    padding-left: 135px;
}

.step-content-one {
    background-color: #f5f5f5;
}
.step-content-two {
    background-color: #1a1a1a;
}
.step-content-three {
    background-color: #5d8bb3;
}
.step-content-img {
    padding: 40px 145px 30px 40px;
}

.step-content-img img {
    width: 440px;
    height: 360px;
}
.step-text {
    padding-top: 100px;
    padding-bottom: 40px;
}
.step-content-number > p {
    font-size: 24px;
    line-height: 24px;
    width: 24px;
    height: 24px;
    font-family: 'DM SANS';
    letter-spacing: 0;
    color: #5a5a5a;
    padding: 0 0 20px 0;
}
.step-content-header {
    font-size: 30px;
    font-weight: bold;
    line-height: 18px;
    padding-top: 18px;
    padding-bottom: 18px;
}
.step-content-des {
    width: 500px;
    height: 96px;
    text-align: left;
    line-height: 1.5;
    color: #5a5a5a;
    font-family: 'DM SANS';
}

.two {
    color: #ffffff;
    font-family: 'DM SANS';
    padding-left: 135px;
}
.img-two {
    padding-right: 35px;
    margin-left: 120px;
}
.three {
    color:#ffffff;
    
}
.text-three {
    opacity: 0.7;
}


/* payment section */
.section-payment {
    padding-top: 100px;
}
.product {
    
}
.product-list {
    padding-left: 135px;
}
.product-img img {
    width: 470px;
    height: 668px;
}
.product-des {
    /* font-family: "DMS SANS-Regular"; */
    margin-left: 30px;
    
}
.product-des-name {
    font-weight: bold;
    font-size: 32px;
    letter-spacing: normal;
    line-height: 15px;
    color: #1a1a1a;
}
.sub-name-des {
    font-size: 16px;
    color: #9a9a9a;
    margin-bottom: 10px;
    line-height: 24px;
}
.product-des-price {
    font-size: 24px;
    font-weight: bold;
    line-height: 14px;
}
.product-price-discount {
    font-size: 18px;
    color: #9a9a9a;
    margin-left: 58px;
    margin-top: -34px;
    text-decoration: line-through;
}
.afterpay-text {
    color: #9a9a9a;
    margin-top: -24px;
    padding-left: 100px;
    font-size: 18px;
}
.option-color {
    
}
.option-color-text {
    font-size: 18px;
    color: #9a9a9a;
    padding-top: 40px;
}
.option-color-icon {
    font-size: 32px;
    margin-top: -10px;
}

.product-size {
    font-size: 19px;
    color: #9a9a9a;
    line-height: 60px;
    font-family: "DMS SANS-Regular";
}
.product-sizechart {
    padding-left: 390px;
    margin-top: -75px;
}
.size-selection {
    padding-top: 30px;
    opacity: 0.5;
    margin-top: -45px;
}
#select-btn {
    width: 470px;
    height: 59px;
    opacity: 0.9;
    font-size: 16px;
}
.count-product {
    padding-top: 20px;
}
.btn-count {
    padding-left: 110px;
}
.btn-count-product {
    border: none;
    background-color: #fff;
    font-size: 24px;
}

#count-number {
    text-align: center;
    border: none;
}